# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = tab
indent_size = tab
insert_final_newline = false
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
9d893c49427ffe90e62187e44b8b0efea5e1b4cb
cd ~/Documents #Or wherever you want to store it
git clone https://github.com/Ge0rg3/StegOnline.git
cd StegOnline
(sudo) npm install -g @angular/cli
(sudo) npm install -i
(sudo) ng build --prod --base-href=/StegOnline/ --aot=false --build-optimizer=false --output-path=/var/www/html/StegOnline
