body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
  Responsive display
*/
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

@media screen and (min-width: 48em) {
  .header, .options {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 2rem;
  }
}

/*
  We add this class to divs to hide them, instead of using JQuery's .hide or .show methods, as they break bootstrap styling.
*/
.d-none {
  display: none;
}


/*
  Title/Navbar
*/
.header {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}


/*
  Grey boxes to group together options
*/
.bubble {
  border-radius: 2%/5%;
  background-color: #f2f2f2;
  padding: 2%;
  margin: 1%;
}


/*
  Custom table styling
*/
table th {
  text-align: center;
}
table td {
  padding: 0;
}
td label {
  padding: 5px 0 5px;
  display: block;
  margin: 0;
  text-align: center;
  cursor: pointer;
  width: 100%:
}

/*
  Text area input/output (monospace)
*/
textarea {
  resize: none;
  font-family: monospace;
}

/*
  Misc
*/
button {
  margin: 2px;
}

#bitPlaneBrowser p, #browsepalettefield p {
  text-align: center;
  display: inline-block;
  font-size: 120%;
}

#extractEmbedOptions {
  margin-bottom: 2%;
}

#stringsBox {
  max-height: 20%;
  overflow-y: auto;
}
