<div class="container">

   <!-- Header -->
   <div class="header clearfix">
     <nav>
       <ul class="nav nav-pills float-right">
         <li class="row-item">
           <a id="homebtn" class="nav-link active" (click)="router.navigate(['/image'])">Home</a>
         </li>
         <li class="row-item">
           <a class="nav-link" href="https://github.com/Ge0rg3/StegOnline/blob/master/README.md">About</a>
         </li>
         <li class="row-item">
           <a class="nav-link" href="https://github.com/Ge0rg3/StegOnline#how-can-i-contribute">Contribute</a>
         </li>
       </ul>
     </nav>
     <h3 class="text-muted">StegOnline</h3>
   </div>

   <router-outlet></router-outlet>

</div>