/*
  Title/Navbar
*/
.header {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  cursor: pointer;
}
.navbtn {
	cursor: pointer;
}