<div class="bubble text-center" style="max-height: 200px; overflow-y: scroll">
	<h3>Strings (5 chars+)</h3>
		<div class="row justify-content-center">
			<!-- <span *ngFor="let string of imageService.stringsCache">
				{{ string }}
				<br/>
			</span> -->
			<div class="col-md-5">
				<span *ngFor="let string of stringsA">
					{{ string }}
					<br/>
				</span>
			</div>
			<div class="col-md-5">
				<span *ngFor="let string of stringsB">
					{{ string }}
					<br/>
				</span>
			</div>
		</div>
</div>