<div>
  <button class="add-image-btn" type="button" onclick="$('.add-image-dropper').trigger('click')">{{ uploadImageText }}</button>

  <div class="image-dropper-wrap" [class.drag-over-dropper]="dragOverDropper">
    <input class="add-image-dropper" type='file' (change)="uploadImage($event)" accept="image/*" (dragenter)="toggleDrag()" (dragleave)="toggleDrag()" (drop)="toggleDrag()"/>
    <div style="text-align: center">
      <h3 class="text-muted">{{ dragDropText }}</h3>
    </div>
  </div>

</div>
