//Bootstrap import
@import "../node_modules/bootstrap/scss/bootstrap";

//Page padding
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

//Narrow center (responsive) column
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

@media screen and (min-width: 48em) {
  .header, .options {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 2rem;
  }
}

//Global styles
.bubble {
	border-radius: 2%/5%;
	background-color: #f2f2f2;
	padding: 5%;
	padding-top: 2%;
	margin: 1%;
}
button {
	margin: 2px;
}
textarea {
  resize: none;
  font-family: monospace;
}
.error {
  color: red;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-top-minus10 {
	margin-top: -10px;
}
.margin-top-5 {
  margin-top: 5px;
}